* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #eee;
    padding: 0 16px;
  }
  
  footer {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  /* Navbar Designe */
  .navbar-nav {
      margin-left: auto;
  }

  .navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
  }

  .btn-group button:first-child {
    margin-right: 10px;
  }
  
  .btn-group button:last-child {
    margin-left: 10px;
  }


  #CCard{
    background-color: #3C8CE7;
  }


  .card-container {
    border-radius: 4px;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .img-center{
  
   margin: 0 auto;
   padding-top: 2rem;
   padding-bottom: 1rem;
 }
 .col-spacing {
  margin: 0 -110px ; /* This will remove the left and right margins */
}

.bg-image1 {
  background-image: url("Images/bg-img.png");
  background-position: center;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-size: 90% ;
  
}

.bg-image3 {
  background-image: url("Images/bg-img.png");
  background-position: center;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-size: 90% ; 
}


.bg-image2 {
  background-image: url("Images/bg-img2.png");
  background-position: center;
  mix-blend-mode: screen;
  margin-top: 7px;
  background-repeat: no-repeat;
  background-size: 90% ;
  
}



#crdbg-color{
  background-color: #3C8CE7;
  
}
.imgctr{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p,pre{
  font-family: 'Athiti', sans-serif;
  font-weight: 100;
  font-size: large;
}

.aboutimg-ctr{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
}

.col-4:first-child img {
  margin-end: 10px;
}

@media (max-width: 768px) {
  .col-4:first-child img {
    margin-end: 0;
  }
}

.cctr{
  background-color: #3C8CE7;
  margin-left: 20rem;
  margin-left: 20rem;
}

.cmpny{
  text-decoration: none;
  color: black;
}